# فایل‌های وابستگی
node_modules/
dist/
build/

# فایل‌های محیطی
.env
.env.local
.env.development
.env.production
.env.test

# فایل‌های لاگ
*.log
logs/

# فایل‌های IDE/Editor
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# فایل‌های سیستم‌عامل
.DS_Store
Thumbs.db

# فایل‌های تولیدشده توسط کامپایلر
*.js.map
*.css.map

# فایل‌های تست
coverage/

# فایل‌های کش
.cache/

# فایل‌های موقت
tmp/
temp/